<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ title }} - {{ sitename }}</title>
		<meta name="description" content="{{ title }}">
		<meta name="author" content="https://github.com/valetar">

		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<script src="{{ url_for('static', filename='js/libs/modernizr-2.5.3.min.js') }}"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCA-4K9yCtNPaZ8CcEbx1V1WCcM5t-Wz40&amp;sensor=false"></script>
	</head>
	
	<body>
		<div class="wrap">
			<header>
				<h1><span class="bigger">{{ sitename }}</span> {{ title }}</h1>
			</header>
			<div role="main">
				{% block content %}
				<form class="form" action="#" method="post">
					<div class="floatleft">
						<label class="label" for="lat">Latitide</label>
						<input class="text" id="lat" name="lat" value="">
					</div>

					<div class="floatleft">
						<label class="label" for="lon">Longitude</label>
						<input class="text" id="lon" name="lon" value="">
					</div>

					<div class="floatleft">
						<label class="label" for="radius">Radius (meter)</label>
						<input class="text small" id="radius" name="radius" value="500">
					</div>

					<div class="floatleft">
						<label class="label">&nbsp;</label>
						<input class="submit" type="submit" value="Ready for lunch!">
					</div><div class="clearfix"></div>
				</form>
				<p>Pro Tip: Click on the map to change your location then hit 'Ready for Lunch' again!</p>
				<div id="map_canvas" class="map"></div>
				{% endblock %}
			</div>

			<aside>
				<center><h2>Forget about lunch! I wanna go shopping!</h2></center>
				<hr>
	            {% block td_widget %}
	            <div class="ed_product_widget" id="4f6b5ddcfcab25f32c000000" data-accesskey="0191f40a8e3da624a85c6a2a4096a1c0" data-imagesize="170" data-items="5" data-brand="" data-ecatn="" data-query="Lunch"></div>
	            {% endblock %}
	        </aside>

			<footer>
                {% block footer %}
                <hr>
                Build as a <a href="http://labs.edelight-group.com/b/edelight-hackathon-1/">Hackday project</a> using Flask, Google Maps, Foursquare and some Sushi! Powered by <a href="http://www.edelight.de">edelight</a>
                {% endblock %}
			</footer>
		</div>

		<script>
		var plugins     = '{{ url_for('static', filename='js/plugins.js') }}';
		var venuesArray = [];
		var lat = '{{ lat }}';
		var lon = '{{ lon }}';
		{% if venues %}
			{% for venue in venues %}
			venuesArray.push({
				'name': '{{ venue.name|e }}',
				'lat': '{{ venue.location.lat }}',
				'lng': '{{ venue.location.lng }}',
				'category': '{{ venue.categories[0].name|e }}',
				'street': '{{ venue.location.address }}',
				'city': '{{ venue.location.postalCode }} {{ venue.location.city }}',
				'phone': '{{ venue.contact.formattedPhone }}',
				'icon': '{{ venue.categories[0].icon.prefix }}32{{ venue.categories[0].icon.name }}',
				'iconlarge': '{{ venue.categories[0].icon.prefix }}64{{ venue.categories[0].icon.name }}',
			});
			{% endfor %}
		{% endif %}
		Modernizr.load({load: '{{ url_for('static', filename='js/script.js') }}'});
		Modernizr.load({load: 'http://ewig.edelight.biz/javascript/ed_product_widget.min.js'});
		</script>
	</body>
</html>
